@import "tailwindcss";

@theme {
  --color-paper: #f6f1e8;
  --color-cream: #fffaf2;
  --color-sand: #e3d4c0;
  --color-ink: #16110f;
  --color-line: #16110f;
  --color-rust: #ff5a36;
  --color-rust-strong: #db3f1d;
}

@layer base {
}
